type shell, domain, mlstrustedsubject, appdomain, netdomain, coredomain, halclientdomain, hal_atrace_client;
type shell_exec, file_type, exec_type, system_file_type;
