type adb_service, system_server_service, system_api_service, service_manager_type;
type adbd, domain;
type adbd_exec, exec_type, file_type, system_file_type;
type adbd_socket, file_type, coredomain_socket;
type anr_data_file, file_type, data_file_type, core_data_file_type, mlstrustedobject;
type apc_service, service_manager_type;
type apex_info_file, file_type;
type apex_mnt_dir, file_type;
type apex_service, service_manager_type;
type apexd, domain, coredomain;
type apexd_exec, file_type, exec_type, system_file_type;
type apexd_prop, property_type, system_property_type, system_internal_property_type;
type apkdmverity, domain, coredomain;
type apkdmverity_exec, file_type, exec_type, system_file_type;
type ashmem_device, dev_type, mlstrustedobject;
type ashmem_libcutils_device, dev_type, mlstrustedobject;
type atrace, domain, coredomain, halclientdomain, hal_atrace_client, hal_camera_client, hal_vibrator_client;
type authorization_service, service_manager_type;
type binder_device, dev_type, mlstrustedobject;
type binderfs, fs_type;
type binderfs_logs, fs_type;
type binderfs_logs_proc, fs_type;
type binfmt_miscfs, fs_type;
type block_device, dev_type;
type bootloader_prop, property_type, system_property_type, system_restricted_property_type;
type boottime_prop, property_type, system_property_type, system_internal_property_type;
type build_prop, property_type, system_property_type, system_restricted_property_type;
type cgroup, fs_type, mlstrustedobject;
type cgroup_desc_api_file, file_type, system_file_type;
type cgroup_desc_file, file_type, system_file_type;
type cgroup_rc_file, file_type;
type cgroup_v2, fs_type;
type cold_boot_done_prop, property_type, system_property_type, system_internal_property_type;
type config_gz, fs_type, proc_type;
type configfs, fs_type;
type console_device, dev_type;
type credstore_service, app_api_service, service_manager_type;
type ctl_adbd_prop, property_type, system_property_type, system_internal_property_type;
type ctl_apexd_prop, property_type, system_property_type, system_internal_property_type;
type ctl_console_prop, property_type, system_property_type, system_internal_property_type;
type ctl_default_prop, property_type, system_property_type, system_public_property_type;
type ctl_fuse_prop, property_type, system_property_type, system_internal_property_type;
type ctl_interface_restart_prop, property_type, system_property_type, system_internal_property_type;
type ctl_interface_start_prop, property_type, system_property_type, system_public_property_type;
type ctl_interface_stop_prop, property_type, system_property_type, system_internal_property_type;
type ctl_restart_prop, property_type, system_property_type, system_internal_property_type;
type ctl_sigstop_prop, property_type, system_property_type, system_internal_property_type;
type ctl_start_prop, property_type, system_property_type, system_public_property_type;
type ctl_stop_prop, property_type, system_property_type, system_public_property_type;
type debug_prop, property_type, core_property_type, system_property_type, system_public_property_type;
type debugfs, fs_type, debugfs_type;
type debugfs_bootreceiver_tracing, fs_type, debugfs_type, tracefs_type;
type debugfs_kcov, fs_type, debugfs_type;
type debugfs_kprobes, fs_type, debugfs_type;
type debugfs_mm_events_tracing, fs_type, debugfs_type, tracefs_type;
type debugfs_mmc, fs_type, debugfs_type;
type debugfs_trace_marker, fs_type, debugfs_type, tracefs_type, mlstrustedobject;
type debugfs_tracing, fs_type, debugfs_type, tracefs_type, mlstrustedobject;
type debugfs_tracing_debug, fs_type, debugfs_type, tracefs_type, mlstrustedobject;
type debugfs_tracing_instances, fs_type, debugfs_type, tracefs_type;
type debugfs_tracing_printk_formats, fs_type, debugfs_type, tracefs_type;
type debugfs_wakeup_sources, fs_type, debugfs_type;
type debugfs_wifi_tracing, fs_type, debugfs_type, tracefs_type;
type default_android_hwservice, hwservice_manager_type, protected_hwservice;
type default_android_service, service_manager_type;
type default_prop, property_type, system_property_type, system_internal_property_type;
type device, dev_type, fs_type;
type devpts, fs_type, mlstrustedobject;
type devtmpfs;
type dm_device, dev_type;
type dm_user_device, dev_type;
type dmabuf_heap_device, dev_type, mlstrustedobject, dmabuf_heap_device_type;
type dmabuf_system_heap_device, dev_type, mlstrustedobject, dmabuf_heap_device_type;
type dmabuf_system_secure_heap_device, dev_type, mlstrustedobject, dmabuf_heap_device_type;
type dumpstate, domain, mlstrustedsubject, netdomain, coredomain, halclientdomain, hal_dumpstate_client, hal_face_client, hal_fingerprint_client, hal_gnss_client, hal_graphics_allocator_client, hal_identity_client, hal_light_client, hal_neuralnetworks_client, hal_power_client, hal_power_stats_client, hal_thermal_client, hal_vibrator_client, hal_wifi_client;
type dumpstate_socket, file_type, coredomain_socket;
type exfat, fs_type, sdcard_type, mlstrustedobject;
type exported_default_prop, property_type, system_property_type, system_public_property_type;
type file_contexts_file, file_type, system_file_type;
type fingerprint_prop, property_type, system_property_type, system_restricted_property_type;
type fs_bpf, fs_type;
type fs_bpf_tethering, fs_type;
type functionfs, fs_type, mlstrustedobject;
type fuse, fs_type, fusefs_type, mlstrustedobject;
type fuse_device, dev_type, mlstrustedobject;
type fusectlfs, fs_type;
type hal_keymint_service, protected_service, vendor_service, service_manager_type;
type hal_remotelyprovisionedcomponent_service, protected_service, vendor_service, service_manager_type;
type hal_secureclock_service, protected_service, vendor_service, service_manager_type;
type hal_sharedsecret_service, protected_service, vendor_service, service_manager_type;
type hidl_allocator_hwservice, hwservice_manager_type, coredomain_hwservice;
type hidl_base_hwservice, hwservice_manager_type;
type hidl_manager_hwservice, hwservice_manager_type, coredomain_hwservice;
type hidl_memory_hwservice, hwservice_manager_type, coredomain_hwservice;
type hidl_token_hwservice, hwservice_manager_type, coredomain_hwservice;
type hw_random_device, dev_type;
type hwbinder_device, dev_type, mlstrustedobject;
type hwservice_contexts_file, file_type, system_file_type;
type hwservicemanager, domain, mlstrustedsubject, coredomain;
type hwservicemanager_exec, file_type, exec_type, system_file_type;
type hwservicemanager_prop, property_type, system_property_type, system_public_property_type;
type init_perf_lsm_hooks_prop, property_type, system_property_type, system_internal_property_type;
type init_service_status_private_prop, property_type, system_property_type, system_internal_property_type;
type init_service_status_prop, property_type, system_property_type, system_restricted_property_type;
type init_svc_debug_prop, property_type, system_property_type, system_internal_property_type;
type inotify, fs_type, mlstrustedobject;
type keystore, domain, keystore2_key_type, mlstrustedsubject, binderservicedomain, coredomain, halclientdomain, hal_confirmationui_client, hal_keymaster_client, hal_keymint_client;
type keystore2_key_contexts_file, file_type, system_file_type;
type keystore_compat_hal_service, service_manager_type;
type keystore_data_file, file_type, data_file_type, core_data_file_type;
type keystore_exec, file_type, exec_type, system_file_type;
type keystore_listen_prop, property_type, system_property_type, system_internal_property_type;
type keystore_maintenance_service, service_manager_type;
type keystore_service, service_manager_type;
type kmsg_debug_device, dev_type;
type kmsg_device, dev_type, mlstrustedobject;
type kvm_device, dev_type;
type labeledfs, fs_type;
type legacykeystore_service, service_manager_type;
type linkerconfig, domain, coredomain;
type linkerconfig_exec, file_type, exec_type, system_file_type;
type linkerconfig_file, file_type;
type logcat;
type logcat_exec, file_type, exec_type, system_file_type;
type logd, domain, mlstrustedsubject, coredomain;
type logd_exec, file_type, exec_type, system_file_type;
type logd_prop, property_type, core_property_type, system_property_type, system_public_property_type;
type logd_socket, file_type, mlstrustedobject, coredomain_socket;
type logdr_socket, file_type, mlstrustedobject, coredomain_socket;
type logdw_socket, file_type, mlstrustedobject, coredomain_socket;
type loop_control_device, dev_type;
type loop_device, dev_type;
type mac_perms_file, file_type, system_file_type;
type microdroid_app;
type microdroid_app_exec;
type microdroid_manager;
type microdroid_manager_exec;
type mqueue, fs_type;
type nativetest_data_file, file_type, data_file_type, core_data_file_type;
type netif, netif_type;
type node, node_type;
type null_device, dev_type, mlstrustedobject;
type owntty_device, dev_type, mlstrustedobject;
type pipefs, fs_type;
type port, port_type;
type ppp_device, dev_type;
type proc, fs_type, proc_type;
type proc_abi, fs_type, proc_type;
type proc_asound, fs_type, proc_type;
type proc_bootconfig, fs_type, proc_type;
type proc_buddyinfo, fs_type, proc_type;
type proc_cmdline, fs_type, proc_type;
type proc_cpuinfo, fs_type, proc_type;
type proc_dirty, fs_type, proc_type;
type proc_diskstats, fs_type, proc_type;
type proc_drop_caches, fs_type, proc_type;
type proc_extra_free_kbytes, fs_type, proc_type;
type proc_filesystems, fs_type, proc_type;
type proc_fs_verity, fs_type, proc_type;
type proc_hostname, fs_type, proc_type;
type proc_hung_task, fs_type, proc_type;
type proc_interrupts, fs_type, proc_type;
type proc_iomem, fs_type, proc_type;
type proc_kallsyms, fs_type, proc_type;
type proc_keys, fs_type, proc_type;
type proc_kmsg, fs_type, proc_type;
type proc_kpageflags, fs_type, proc_type;
type proc_loadavg, fs_type, proc_type;
type proc_locks, fs_type, proc_type;
type proc_lowmemorykiller, fs_type, proc_type;
type proc_max_map_count, fs_type, proc_type;
type proc_meminfo, fs_type, proc_type;
type proc_min_free_order_shift, fs_type, proc_type;
type proc_misc, fs_type, proc_type;
type proc_modules, fs_type, proc_type;
type proc_mounts, fs_type, proc_type;
type proc_net, fs_type, proc_type, proc_net_type;
type proc_net_tcp_udp, fs_type, proc_type;
type proc_overcommit_memory, fs_type, proc_type;
type proc_page_cluster, fs_type, proc_type;
type proc_pagetypeinfo, fs_type, proc_type;
type proc_panic, fs_type, proc_type;
type proc_perf, fs_type, proc_type;
type proc_pid_max, fs_type, proc_type;
type proc_pipe_conf, fs_type, proc_type;
type proc_pressure_cpu, fs_type, proc_type;
type proc_pressure_io, fs_type, proc_type;
type proc_pressure_mem, fs_type, proc_type;
type proc_qtaguid_ctrl, fs_type, proc_type, mlstrustedobject;
type proc_qtaguid_stat, fs_type, proc_type, mlstrustedobject;
type proc_random, fs_type, proc_type;
type proc_sched, fs_type, proc_type;
type proc_security, fs_type, proc_type;
type proc_slabinfo, fs_type, proc_type;
type proc_stat, fs_type, proc_type;
type proc_swaps, fs_type, proc_type;
type proc_sysrq, fs_type, proc_type;
type proc_timer, fs_type, proc_type;
type proc_tty_drivers, fs_type, proc_type;
type proc_uid_concurrent_active_time, fs_type, proc_type;
type proc_uid_concurrent_policy_time, fs_type, proc_type;
type proc_uid_cpupower, fs_type, proc_type;
type proc_uid_cputime_removeuid, fs_type, proc_type;
type proc_uid_cputime_showstat, fs_type, proc_type;
type proc_uid_io_stats, fs_type, proc_type;
type proc_uid_procstat_set, fs_type, proc_type;
type proc_uid_time_in_state, fs_type, proc_type;
type proc_uptime, fs_type, proc_type;
type proc_version, fs_type, proc_type;
type proc_vmallocinfo, fs_type, proc_type;
type proc_vmstat, fs_type, proc_type;
type proc_zoneinfo, fs_type, proc_type;
type properties_device, dev_type;
type properties_serial, dev_type;
type property_contexts_file, file_type, system_file_type;
type property_info, dev_type;
type property_service_version_prop, property_type, system_property_type, system_restricted_property_type;
type property_socket, file_type, mlstrustedobject, coredomain_socket;
type pstorefs, fs_type;
type ptmx_device, dev_type, mlstrustedobject;
type ram_device, dev_type;
type random_device, dev_type, mlstrustedobject;
type remoteprovisioning_service, service_manager_type;
type rootfs, fs_type;
type rtc_device, dev_type;
type runas, domain, mlstrustedsubject, coredomain;
type runas_exec, file_type, exec_type, system_file_type;
type runtime_event_log_tags_file, file_type;
type sdcardfs, fs_type, sdcard_type, mlstrustedobject;
type seapp_contexts_file, file_type, system_file_type;
type securityfs, fs_type;
type selinuxfs, fs_type, mlstrustedobject;
type sepolicy_file, file_type, system_file_type;
type serial_device, dev_type;
type service_contexts_file, file_type, system_file_type;
type servicemanager, domain, mlstrustedsubject, coredomain;
type servicemanager_exec, file_type, exec_type, system_file_type;
type shell, domain, mlstrustedsubject, appdomain, netdomain, coredomain, halclientdomain, hal_atrace_client;
type shell_data_file, file_type, data_file_type, core_data_file_type, app_data_file_type, mlstrustedobject;
type shell_exec, file_type, exec_type, system_file_type;
type shell_prop, property_type, core_property_type, system_property_type, system_restricted_property_type;
type shell_test_data_file, file_type, data_file_type, core_data_file_type;
type shm, fs_type;
type socket_device, dev_type;
type sockfs, fs_type;
type sysfs, fs_type, sysfs_type, mlstrustedobject;
type sysfs_android_usb, fs_type, sysfs_type;
type sysfs_bluetooth_writable, fs_type, sysfs_type, mlstrustedobject;
type sysfs_devices_block, fs_type, sysfs_type;
type sysfs_devices_cs_etm, fs_type, sysfs_type;
type sysfs_devices_system_cpu, fs_type, sysfs_type;
type sysfs_dm, fs_type, sysfs_type;
type sysfs_dm_verity, fs_type, sysfs_type;
type sysfs_dma_heap, fs_type, sysfs_type;
type sysfs_dmabuf_stats, fs_type, sysfs_type;
type sysfs_dt_firmware_android, fs_type, sysfs_type;
type sysfs_extcon, fs_type, sysfs_type;
type sysfs_fs_ext4_features, fs_type, sysfs_type;
type sysfs_fs_f2fs, fs_type, sysfs_type;
type sysfs_fs_incfs_features, fs_type, sysfs_type;
type sysfs_fs_incfs_metrics, fs_type, sysfs_type;
type sysfs_hwrandom, fs_type, sysfs_type;
type sysfs_ion, fs_type, sysfs_type;
type sysfs_ipv4, fs_type, sysfs_type;
type sysfs_kernel_notes, fs_type, sysfs_type, mlstrustedobject;
type sysfs_leds, fs_type, sysfs_type;
type sysfs_loop, fs_type, sysfs_type;
type sysfs_lowmemorykiller, fs_type, sysfs_type;
type sysfs_net, fs_type, sysfs_type;
type sysfs_nfc_power_writable, fs_type, sysfs_type, mlstrustedobject;
type sysfs_power, fs_type, sysfs_type;
type sysfs_rtc, fs_type, sysfs_type;
type sysfs_suspend_stats, fs_type, sysfs_type;
type sysfs_switch, fs_type, sysfs_type;
type sysfs_transparent_hugepage, fs_type, sysfs_type;
type sysfs_uhid, fs_type, sysfs_type;
type sysfs_usermodehelper, fs_type, sysfs_type;
type sysfs_vibrator, fs_type, sysfs_type;
type sysfs_wake_lock, fs_type, sysfs_type;
type sysfs_wakeup, fs_type, sysfs_type;
type sysfs_wakeup_reasons, fs_type, sysfs_type;
type sysfs_wlan_fwpath, fs_type, sysfs_type;
type sysfs_zram, fs_type, sysfs_type;
type sysfs_zram_uevent, fs_type, sysfs_type;
type system_bootstrap_lib_file, file_type, system_file_type;
type system_data_file, file_type, data_file_type, core_data_file_type;
type system_data_root_file, file_type, data_file_type, core_data_file_type;
type system_event_log_tags_file, file_type, system_file_type;
type system_file, file_type, system_file_type;
type system_group_file, file_type, system_file_type;
type system_lib_file, file_type, system_file_type;
type system_linker;
type system_linker_config_file, file_type, system_file_type;
type system_linker_exec, file_type, system_file_type;
type system_passwd_file, file_type, system_file_type;
type system_seccomp_policy_file, file_type, system_file_type;
type system_security_cacerts_file, file_type, system_file_type;
type task_profiles_api_file, file_type, system_file_type;
type task_profiles_file, file_type, system_file_type;
type tmpfs, fs_type;
type tombstone_data_file, file_type, data_file_type, core_data_file_type, mlstrustedobject;
type tombstoned, domain, mlstrustedsubject, coredomain;
type tombstoned_crash_socket, file_type, mlstrustedobject, coredomain_socket;
type tombstoned_exec, file_type, exec_type, system_file_type;
type tombstoned_intercept_socket, file_type, coredomain_socket;
type tombstoned_java_trace_socket, file_type, mlstrustedobject;
type toolbox, domain, coredomain;
type toolbox_exec, file_type, exec_type, system_file_type;
type trace_data_file, file_type, data_file_type, core_data_file_type, mlstrustedobject;
type tty_device, dev_type;
type tun_device, dev_type, mlstrustedobject;
type ueventd, domain, coredomain;
type uhid_device, dev_type, mlstrustedobject;
type uio_device, dev_type;
type unlabeled, file_type;
type usb_control_prop, property_type, system_property_type, system_public_property_type;
type usbfs, fs_type;
type userdata_sysdev, dev_type;
type usermodehelper, fs_type, proc_type;
type vd_device, dev_type;
type vendor_configs_file, file_type, vendor_file_type;
type vendor_data_file, file_type, data_file_type;
type vendor_default_prop, property_type, vendor_property_type, vendor_internal_property_type;
type vendor_file, file_type, vendor_file_type;
type vendor_init, domain, mlstrustedsubject;
type vfat, fs_type, sdcard_type, mlstrustedobject;
type vm_payload_key;
type vndbinder_device, dev_type;
type zero_device, dev_type, mlstrustedobject;
type zipfuse, domain, coredomain;
type zipfuse_exec, file_type, exec_type, system_file_type;
type zipfusefs, fs_type, contextmount_type;
