/dts-v1/;
/plugin/;

/ {
    mbox@1 {
        a {
            val = <1>;
        };
    };
    mbox {
        a {
            val = <2>;
        };
    };
    mbox@2 {
        a {
            val = <3>;
        };
    };
};
