domain_auto_trans(kernel, init_exec, init)

init_daemon_domain(adbd)
init_daemon_domain(apexd)
init_daemon_domain(apkdmverity)
init_daemon_domain(keystore)
init_daemon_domain(hwservicemanager)
init_daemon_domain(linkerconfig)
init_daemon_domain(logd)
init_daemon_domain(microdroid_manager)
init_daemon_domain(servicemanager)
init_daemon_domain(tombstoned)
init_daemon_domain(toolbox)
init_daemon_domain(zipfuse)
