typeattribute adbd coredomain;
typeattribute adbd mlstrustedsubject;

init_daemon_domain(adbd)

allow adbd bootloader_prop:file { getattr map open read };
allow adbd fingerprint_prop:file { getattr map open read };
allow adbd init_service_status_prop:file { getattr map open read };
allow adbd linkerconfig_file:dir search;
allow adbd logcat_exec:file { execute execute_no_trans getattr map read };
allow adbd logd:unix_stream_socket connectto;
allow adbd logdr_socket:sock_file write;
allow adbd owntty_device:chr_file { open read };
allow adbd proc:dir search;
allow adbd proc:lnk_file read;
allow adbd proc_uptime:file { getattr open read };
allow adbd properties_serial:file { getattr map open read };
allow adbd random_device:chr_file read;
allow adbd self:dir { getattr open read search };
allow adbd self:fifo_file { read write };
allow adbd self:file { getattr open read };
allow adbd self:lnk_file read;
allow adbd self:process { getattr ptrace setcurrent signal };
allow adbd self:unix_dgram_socket { connect create write };
allow adbd self:unix_stream_socket { ioctl shutdown };
allow adbd self:vsock_socket { accept read setopt write };
allow adbd shell_data_file:dir { getattr write };
allow adbd shell_exec:file { execute execute_no_trans getattr map read };
allow adbd shell_prop:property_service set;
allow adbd system_data_file:dir search;
allow adbd system_data_root_file:dir search;
allow adbd system_file:dir { getattr read search };
allow adbd system_lib_file:dir { getattr search };
allow adbd system_lib_file:lnk_file read;
allow adbd system_linker_exec:file { getattr open };
allow adbd system_linker_exec:lnk_file read;
allow adbd tombstone_data_file:file append;
allow adbd tombstoned:fd use;
allow adbd tombstoned:unix_stream_socket connectto;
allow adbd tombstoned_crash_socket:sock_file write;
allow adbd unlabeled:file { execute execute_no_trans getattr map read };
allow adbd vendor_file:dir { getattr search };
allow adbd_socket tmpfs:filesystem associate;

# adbd probes for vsock support. Do not generate denials when
# this occurs. (b/123569840)
dontaudit adbd self:{ socket vsock_socket } create;

# Allow adbd inside vm to forward vm's vsock.
allow adbd self:vsock_socket { create_socket_perms_no_ioctl listen accept };

# Create and use network sockets.
net_domain(adbd)

allow adbd self:global_capability_class_set { setuid setgid };
allow adbd devpts:chr_file rw_file_perms;
domain_auto_trans(adbd, shell_exec, shell)
