typeattribute dumpstate mlstrustedsubject, netdomain, coredomain, halclientdomain, hal_dumpstate_client, hal_face_client, hal_fingerprint_client, hal_gnss_client, hal_graphics_allocator_client, hal_identity_client, hal_light_client, hal_neuralnetworks_client, hal_power_client, hal_power_stats_client, hal_thermal_client, hal_vibrator_client, hal_wifi_client;
