typeattribute hwservicemanager coredomain;

init_daemon_domain(hwservicemanager)

allow hwservicemanager hidl_base_hwservice:hwservice_manager add;
allow hwservicemanager hidl_manager_hwservice:hwservice_manager add;
allow hwservicemanager vendor_configs_file:file { open getattr };

