typeattribute keystore keystore2_key_type, mlstrustedsubject, binderservicedomain, coredomain, halclientdomain, hal_confirmationui_client, hal_keymaster_client, hal_keymint_client;

init_daemon_domain(keystore)

allow keystore kernel:security compute_av;
allow keystore keystore2_key_contexts_file:file { getattr open read };
allow keystore keystore_data_file:dir { add_name open read remove_name search write };
allow keystore keystore_data_file:file { create getattr ioctl lock read unlink };
allow keystore microdroid_manager:binder transfer;
allow keystore random_device:chr_file open;
allow keystore self:netlink_selinux_socket { bind create };
allow keystore self:unix_dgram_socket setopt;
allow keystore selinuxfs:dir { getattr open read search };
allow keystore selinuxfs:file { getattr open read write };
allow keystore system_data_file:dir search;
allow keystore system_data_root_file:dir search;
allow keystore vendor_file:dir search;
