typeattribute servicemanager mlstrustedsubject, coredomain;

init_daemon_domain(servicemanager)

allow servicemanager default_android_service:service_manager add;
allow servicemanager microdroid_manager:binder transfer;

selinux_check_access(servicemanager)
