typeattribute tombstoned mlstrustedsubject, coredomain;

init_daemon_domain(tombstoned)

allow tombstoned self:dir search;
allow tombstoned self:lnk_file read;
allow tombstoned self:unix_stream_socket accept;
allow tombstoned tombstone_data_file:dir { add_name search write };
allow tombstoned tombstone_data_file:file { append link };
