/dts-v1/;

/ {
        #address-cells = <0x02>;
        #size-cells = <0x02>;
        compatible = "linux,dummy-virt";
        interrupt-parent = <0x01>;
        name = "reference";

        U6_16550A@2e8 {
                clock-frequency = <0x1c2000>;
                compatible = "ns16550a";
                interrupts = <0x00 0x02 0x01>;
                reg = <0x00 0x2e8 0x00 0x08>;
        };

        U6_16550A@2f8 {
                clock-frequency = <0x1c2000>;
                compatible = "ns16550a";
                interrupts = <0x00 0x02 0x01>;
                reg = <0x00 0x2f8 0x00 0x08>;
        };

        U6_16550A@3e8 {
                clock-frequency = <0x1c2000>;
                compatible = "ns16550a";
                interrupts = <0x00 0x00 0x01>;
                reg = <0x00 0x3e8 0x00 0x08>;
        };

        U6_16550A@3f8 {
                clock-frequency = <0x1c2000>;
                compatible = "ns16550a";
                interrupts = <0x00 0x00 0x01>;
                reg = <0x00 0x3f8 0x00 0x08>;
        };

        __symbols__ {
                intc = "/intc";
        };

        avf {
                secretkeeper_public_key = [a4 01 01 03 27 20 06 21 58 20 1d ca b0 42 64 be fa a8 a4 ad cb f8 16 ee f8 ca 35 63 4b 53 d3 74 7f c7 e5 94 52 e7 f9 ae 4e 29];

                untrusted {
                        defer-rollback-protection;
                        instance-id = <0xf145d4f8 0x15f03952 0x5af249aa 0xfead94d8 0xb9f05746 0xd9163f48 0x7251b67b 0xe117409e 0x2b14dfa5 0xcaa8caf7 0x14176d2d 0xf88cc94b 0xeed4a59d 0x9a2d8fe5 0x5ac590f1 0xbb6c96f5>;
                };
        };

        chosen {
                bootargs = "panic=-1 crashkernel=17M";
                kaslr-seed = <0x86116aca 0x12cb0acb>;
                linux,initrd-end = <0x81200360>;
                linux,initrd-start = <0x81000000>;
                linux,pci-probe-only = <0x01>;
                rng-seed = <0xb01b2440 0x7278cc48 0x207478a8 0x45f176df 0x249af7e4 0xdb6e3bec 0x5726b3fa 0x2b02bfc6 0x1b097570 0xfbb2c250 0x484130b2 0x79ac6f73 0x675d0365 0x620cd159 0xb805ba68 0xeeea56dd 0x58b6f8aa 0xd31e0891 0xeefcf3f0 0x9f91490d 0xb658207e 0x9af76bc7 0x6380414e 0x93dafb8c 0xded29961 0xc572f5de 0xa0e0b38c 0xd617dc08 0x5ae43d21 0xcc0998 0xb851b39d 0x44732555 0x73ae694 0x70226b9f 0xe3ad6b03 0xc5f50492 0x58914a5 0xe8b5e738 0x7d7f365a 0xb0b019fe 0xdb27020d 0xcd15c9b2 0xbc63a8ed 0x563a4c67 0xd28c55c1 0x699bca 0xd545a7cc 0x7d655e19 0x82b318c3 0x5c19d19d 0xecd8185c 0x3a33972f 0xa5ecb12c 0x1eaf16c2 0x37d8c8df 0x8ede8
3a8 0x4f16023b 0xdb360370 0xcc685274 0xb927b3ad 0xdcf17ae2 0x75129723 0x3efd6c95 0x53582db1>;
                stdout-path = "/U6_16550A@3f8";
        };

        config {
                kernel-address = <0x80000000>;
                kernel-size = <0xc91000>;
        };

        cpufreq {
                compatible = "virtual,kvm-cpufreq";
        };

        cpus {
                #address-cells = <0x01>;
                #size-cells = <0x00>;

                cpu@0 {
                        compatible = "arm,armv8";
                        device_type = "cpu";
                        phandle = <0x100>;
                        reg = <0x00>;
                };
        };

        intc {
                #address-cells = <0x02>;
                #interrupt-cells = <0x03>;
                #size-cells = <0x02>;
                compatible = "arm,gic-v3";
                interrupt-controller;
                phandle = <0x01>;
                reg = <0x00 0x3fff0000 0x00 0x10000 0x00 0x3ffd0000 0x00 0x20000>;
        };

        memory {
                device_type = "memory";
                reg = <0x00 0x80000000 0x00 0xaa00000>;
        };

        pci {
                #address-cells = <0x03>;
                #interrupt-cells = <0x01>;
                #size-cells = <0x02>;
                bus-range = <0x00 0x00>;
                compatible = "pci-host-cam-generic";
                device_type = "pci";
                dma-coherent;
                interrupt-map = <0x800 0x00 0x00 0x01 0x01 0x00 0x00 0x00 0x04 0x04 0x1000 0x00 0x00 0x01 0x01 0x00 0x00 0x00 0x05 0x04 0x1800 0x00 0x00 0x01 0x01 0x00 0x00 0x00 0x06 0x04 0x2000 0x00 0x00 0x01 0x01 0x00 0x00 0x00 0x07 0x04 0x2800 0x00 0x00 0x01 0x01 0x00 0x00 0x00 0x08 0x04 0x3000 0x00 0x00 0x01 0x01 0x00 0x00 0x00 0x09 0x04 0x3800 0x00 0x00 0x01 0x01 0x00 0x00 0x00 0x0a 0x04 0x4000 0x00 0x00 0x01 0x01 0x00 0x00 0x00 0x0b 0x04 0x4800 0x00 0x00 0x01 0x01 0x00 0x00 0x00 0x0c 0x04>;
                interrupt-map-mask = <0xf800 0x00 0x00 0x07 0xf800 0x00 0x00 0x07 0xf800 0x00 0x00 0x07 0xf800 0x00 0x00 0x07 0xf800 0x00 0x00 0x07 0xf800 0x00 0x00 0x07 0xf800 0x00 0x00 0x07 0xf800 0x00 0x00 0x07 0xf800 0x00 0x00 0x07>;
                ranges = <0x3000000 0x00 0x2000000 0x00 0x2000000 0x00 0x2000000 0x43000000 0x00 0x8b200000 0x00 0x8b200000 0xff 0x74e00000>;
                reg = <0x00 0x10000 0x00 0x1000000>;
        };

        pclk@3M {
                #clock-cells = <0x00>;
                clock-frequency = <0x2fefd8>;
                compatible = "fixed-clock";
                phandle = <0x18>;
        };

        psci {
                compatible = "arm,psci-1.0\0arm,psci-0.2";
                method = "hvc";
        };

        rtc@2000 {
                arm,primecell-periphid = <0x41030>;
                clock-names = "apb_pclk";
                clocks = <0x18>;
                compatible = "arm,primecell";
                interrupts = <0x00 0x01 0x04>;
                reg = <0x00 0x2000 0x00 0x1000>;
        };

        timer {
                always-on;
                compatible = "arm,armv8-timer";
                interrupts = <0x01 0x0d 0x108 0x01 0x0e 0x108 0x01 0x0b 0x108 0x01 0x0a 0x108>;
        };

        vmwdt@3000 {
                clock-frequency = <0x02>;
                compatible = "qemu,vcpu-stall-detector";
                interrupts = <0x01 0x0f 0x101>;
                reg = <0x00 0x3000 0x00 0x1000>;
                timeout-sec = <0x0a>;
        };
};
